@import url('https://fonts.googleapis.com/css?family=Rajdhani:500');

.App {
  text-align: center;
};

.center {
  display: flex;
  justify-content: center;
}

body{
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 1px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}